header{
    background-color: aqua;
    height:150px;
}

nav{
    background-color: blue;
    width: 25%;
}

section{
    background-color: brown;
    width: 50%;

}

aside{
    background-color: coral;
    width: 25%;
}

footer{
    background-color: deepskyblue;
    clear: left;
    height: 100px;
}

nav,section,aside{
    float: left;
    height: 500px;
}
