#foto{
    width: 200px;
    height: 200px;
    margin-top: 4px;
    margin-bottom:4px;
}
#iniciar{
    float: right;
    margin-top: 14px;
}
#apellido{
    float: right;
    margin: 1.5cm;
    margin-right: 12cm;
    margin-left: 1cm;
    font-size: 60px;
}

#subtitulo{
    float: right;
}

div{
    border: solid;
}